.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
}