/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  height: 70vh;
  background: url('../img/banner.jpg') no-repeat center center;
  background-size: cover;
}

/* Galary Section > */


/* Article Section */
.card-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.article-title {
  color: #A54ADD;
}

.subject {
  color: #FF7A18;
}

/* Map Section */
#map {
  height: 30rem;
  overflow: hidden;
  padding: 0;
}