# Python-specific
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc
*.pyo

# Django-specific
*.log
*.sqlite3
db.sqlite3
media/
settings_local.py

# Virtual environment
venv/
env/
*.env

# IDE-specific
.vscode/
.idea/
*.pyc

# System-specific files
.DS_Store
Thumbs.db

# Secret Keys
secret_key.txt

# Deployment-server files
pstamarind_uwsgi.ini
uwsgi_params

# Other
test.py

