@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

nav {
    background: #522c69;
    font-weight: 900;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 37%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
/*
nav {
    background: #522c69;
    display: flex;
    justify-content: space-evenly;
}
*/


