{% extends 'base.html' %}
{% load static %}

{% block head %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/contact.css' %}">
{% endblock %}
{% endblock %}

{% block content %}
<main>
    <section class="info-section">
        <div class="container px-4 my-5 pb-5">
            <h1>Get in Touch</h1>
            <p class="my-5">We're Here to Listen and Assist! P.S.Tamarind Pvt. Ltd. Customer service is supported by our extensive networks within the company. We committed to delivering world-class services to all.</p>
        </div>
    </section>
    section.
</main>
{% endblock %}
