{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{% block title %}P.S.Tamarind | Gallery{% endblock %}</title>
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/gallery.css' %}">
{% endblock %}
{% endblock %}

{% block content %}
<main>
    <section class="gallery-section">
        <div class="container px-4 my-5 pb-5">
            <h1 class="my-4 pb-5">Gallery</h1>
            <div class="row">
                {% for image in images %}
                <div class="col-6 col-md-4 col-lg-3 mb-4">
                    <div class="img-container rounded shadow">
                        <img class="img-preview" src="{{ image.image.url }}" alt="" data-bs-toggle="modal" data-bs-target="#imageModal" data-image-url="{{ image.image.url }}">
                    </div>
                </div>
                <div class="image-name mt-2">
                    <p>{{ image.name }}</p>
                </div>
                {% empty %}
                <h3>No photos available</h3>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

<!-- Bootstrap Modal for Image Preview -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body p-2">
                <img class="img-fluid" id="modalImage" src="" alt="">
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var imgPreviews = document.querySelectorAll('.img-preview');
        var modalImage = document.getElementById('modalImage');

        imgPreviews.forEach(function (imgPreview) {
            imgPreview.addEventListener('click', function () {
                var imageUrl = this.getAttribute('data-image-url');
                modalImage.setAttribute('src', imageUrl);
            });
        });
    });
</script>
{% endblock %}
{% endblock %}

