{% extends 'base.html' %}
{% load static %}

{% block head %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/gallery.css' %}">
{% endblock %}
{% endblock %}

{% block content %}
<main>
    <section class="gallery-section">
        <div class="container px-4 my-5 pb-5">
            <h1 class="my-4 pb-5">Gallery</h1>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery1.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery2.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery3.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery4.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery5.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery6.jpg' %}" alt=""></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery7.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery8.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery9.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery10.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery11.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery12.jpg' %}" alt=""></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery12.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery13.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery14.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery15.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery16.jpg' %}" alt=""></div>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <div class="img-container rounded shadow"><img class="#" src="{% static 'web/img/carousel/gallery17.jpg' %}" alt=""></div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}