{% extends 'base.html' %}
{% load static %}

{% block head %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/index.css' %}">
    {% endblock %}
{% endblock %} 

{% block content %}
<div class="container-fluid my-4">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="shadow p-4 custom-box">
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="shadow p-4 custom-box">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="shadow p-4 custom-box">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <h2 class="#">A Choice For Quality</h1>
        </div>
        <div class="row">
            <div id="image-track">
                <img class="c-image" src="{% static web/img/carousel/gallery1.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery2.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery3.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery4.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery5.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery6.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery7.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery8.jpg %}">
                <img class="c-image" src="{% static web/img/carousel/gallery9.jpg %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}