{% extends 'base.html' %}
{% load static %}

{% block head %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/index.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}
{% endblock %}

{% block content %}
<main>
    <div class="about-section">
        <div class="container mt-5">
            <img src="{% static 'web/banner.jpg' %}" alt="" class="img-fluid rounded shadow">
        </div>
    </div>
    <section class="about-section">
        <div class="container px-4">
            <div class="div my-5">
                <p class="text-center align-middle py-5 px-3">
                    P.S.Tamarind Private Limited is a third-generation, family-owned company known for providing our
                    customers with the highest quality tamarind around the world.
                </p>
            </div>
        </div>
    </section>
    <section class="product-section">
        <div class="container px-4">
            <h3 class="my-5">A Choice for Quality</h3>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 pb-5 gy-4">
                <div class="col">
                    <div class="card h-100 border-0">
                        <img src="{% static 'web/img/500g_tamarind.png' %}" class="card-img-top p-3" alt="...">
                        <div class="card-body">
                            <p class="card-title text-muted text-center pb-3">250 grams</p>
                            <p class="card-text pt-2 px-sm-3 px-md-5">Introducing P.S.Tamarind's 250g packet, filled with our finest quality tamarind boasting a delightful tanginess to satisfy the bittersweet essence of the traditional Indian cuisine. Once you experience P.S, you won't look back.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0">
                        <img src="{% static 'web/img/500g_tamarind.png' %}" class="card-img-top p-3" alt="...">
                        <div class="card-body">
                            <p class="card-title text-muted text-center pb-3">500 grams</p>
                            <p class="card-text pt-2 px-sm-3 px-md-5">The iconic 500g packet, meticulously crafted with perfectly tasting tamarind to encapsulate the essence of our finest quality. This product is embraced and cherished by customers for its exceptional flavour and versatility, making it a beloved choice among our consumers worldwide.</p>
			</div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0">
                        <img src="{% static 'web/img/500g_tamarind.png' %}" class="card-img-top p-3" alt="...">
                        <div class="card-body">
                            <p class="card-title text-muted text-center pb-3">1 kilogram</p>
                            <p class="card-text pt-2 px-sm-3 px-md-5">Introducing our company's value-saving pack of 1kg tamarind, filled to the brim with our timeless, tasty tamarind. Perfect for large families of tamarind lovers, this generous quantity ensures our customers can savour the everlasting taste of tamarind.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <div class="container px-4">
            <h3 class="my-5">The Journey to Benchmark</h3>
            <div class="row mb-1 pb-5">
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <img class="img-fluid w-100 h-100 rounded" src="{% static 'web/img/ind-img-1.jpg' %}" alt="">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img class="img-fluid w-100 h-100 rounded" src="{% static 'web/img/ind-img-2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <img class="img-fluid w-100 h-100 rounded" src="{% static 'web/img/ind-img-3.jpg' %}" alt="">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img class="img-fluid w-100 h-100 rounded" src="{% static 'web/img/ind-img-e4.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-md-6  col-lg-12">
                            <img class="img-fluid w-100 h-100 rounded" src="{% static 'web/img/ps-img.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Blog Article Preview (If required) -->
<!--
    <section class="article-section">
        <div class="container px-4 my-5">
            <h3 class="my-5">Featured Articles</h3>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pb-5">
                <div class="col">
                    <div class="card h-100 border-0 shadow p-3">
                        <div class="card-header bg-white border-0">
                            <span class="fw-bold article-title">Article </span>
                            <span class="text-muted">on Jan 29, 2024</span>
                        </div>
                        <div class="card-body mb-5">
                            <h4 class="card-title">The Legacy of P.Shunmugam</h4>
                            <h6 class="topic-txt subject pt-2">VALUES</h6>
                        </div>
                        <a href="#" class="btn text-muted text-start px-3 mt-5">Read more...</a>
                        <div class="card-footer bg-white border-0 pt-3">
                            <img src="{% static 'web/img/profile-pic.jpg' %}" class="card-profile">
                            <span class="fw-bold ps-2">Maheshram</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow p-3">
                        <div class="card-header bg-white border-0">
                            <span class="fw-bold article-title">Article </span>
                            <span class="text-muted">on Jan 29, 2024</span>
                        </div>
                        <div class="card-body mb-5">
                            <h4 class="card-title">The Legacy of P.Shunmugam</h4>
                            <h6 class="topic-txt subject pt-2">VALUES</h6>
                        </div>
                        <a href="#" class="btn text-muted text-start px-3 mt-5">Read more...</a>
                        <div class="card-footer bg-white border-0 pt-3">
                            <img src="{% static 'web/img/profile-pic.jpg' %}" class="card-profile">
                            <span class="fw-bold ps-2">Maheshram</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 border-0 shadow p-3">
                        <div class="card-header bg-white border-0">
                            <span class="fw-bold article-title">Article </span>
                            <span class="text-muted">on Jan 29, 2024</span>
                        </div>
                        <div class="card-body mb-5">
                            <h4 class="card-title">The Legacy of P.Shunmugam</h4>
                            <h6 class="topic-txt subject pt-2">VALUES</h6>
                        </div>
                        <a href="#" class="btn text-muted text-start px-3 mt-5">Read more...</a>
                        <div class="card-footer bg-white border-0 pt-3">
                            <img src="{% static 'web/img/profile-pic.jpg' %}" class="card-profile">
                            <span class="fw-bold ps-2">Maheshram</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
    <section class="map-section">
        <div class="container px-4 my-5">
            <h3 class="my-5">Available All Over the World</h3>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div id="map" class="d-flex align-items-center justify-content-center shadow rounded"></div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'web/js/map.js' %}"></script>

{% endblock %}
