/* Navigation Bar */
.custom-logo {
    max-width: 70px;  /* Adjust the max-width as needed */
    height: auto;  /* Maintain the aspect ratio */
}

.navbar-custom {
    background-color: #522C69;/* Change this to the desired shade of purple */
}

.navbar-custom .nav-link {
    color: white;
}

/* Footer */
purple-footer {
    background-color: #522C69;
    color: white; /* You may want to adjust text color for better visibility */
}
