.custom-box {
    height: 350px;
    
    border-radius: 30px;
    /* Any additional styles you want to apply */
}

.shadow {
    /* Adjust shadow properties from Bootstrap utility to your preference */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.30);
}