.custom-box-xl {
    height: 530px;
    border-radius: 20px;
    /* Any additional styles you want to apply */
}

.custom-box {
    height: 350px;
    border-radius: 20px;
    /* Any additional styles you want to apply */
}

.shadow {
    /* Adjust shadow properties from Bootstrap utility to your preference */
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);}

.pstext {
    border-radius: 20px;
    background: conic-gradient(from 205deg at 71.21% 53.94%, #A54ADD 37.79999881982803deg, #0CBFE7 153.00000429153442deg, #FF7A18 226.79999828338623deg);
}

.body2 {
    height: 50vmin;
    width: 100%;
    background-color: white;
    margin: 0rem;
  }

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .cimage {
    width: 30vmin;
    height: 46vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 20px;
    user-select: none;
  }
